.btn-primary{
    background-color: #0E1E36 !important;
    text-transform: capitalize;
    border: none;
    &:hover{
        background-color: #16315e !important;
        transition: 0.7s;
    }
  
}
.checkout_bg{
    background-color: #fff !important;
    color: #16315e !important;
    &:hover{
        background-color: #ddd8d8 !important;
    color: #16315e !important;
    }
}